@page "/"
@page "/setup"

<PageTitle>Setup A Bingo Game</PageTitle>

<div class="row">
    <div class="col"><h1>Bingo for the Bored</h1></div>
</div>

<div class="row">
    <div class="col">
        <p>Are you going to be in a boring meeting, why not play bingo with verbal tics and meeting cliches? Honestly, you'll probably pay better attention even if you are justing making fun of the whole thing.</p>

        <p>Set up your word list.  Use a <code>&nbsp;|&nbsp;</code>  character to separate phrases.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <Wordlist></Wordlist>
    </div>
</div>



