.bingo-card h3 {
    background-color: #2D1E2F;
    padding: 1em;
    color: #FCF6B1;
    margin-bottom: 0;
}

.bingo-message {
    background-color: #ffffff;
}

.bingo-gameboard {
    display: inline-block;
    padding: 1em;
    background-color: #A9E5BB;
}

.player-name {
    color: #F7B32B;
}

.bingo-gameboard-row {
    height: 152px;
}

.bingo-gameboard-col {
    width: 152px;
    display: inline;
}

.bingo-square {
    height: 145px;
    width: 145px;
    background-color: #ffffff;
    padding: .5em;
    display: inline-block;
    text-align: center;
}

.square-label {
    font-size: .9em;
}

.bingo-square-selected {
    background-color: #F7B32B;
    color: #2D1E2F;
    font-size: 1.2em;
}

.alert {
    margin-bottom: 0;
}