@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="bingo-wordlist">
    <textarea id="wordlist" name="wordlist" @bind-value:event="onchange" @oninput="SetStoredWordList" @bind-value="WordList"></textarea>
</div>
<button class="btn btn-primary" @onclick="SetStoredWordList">Save your word list</button>
<button class="btn btn-link" @onclick="SetDefaultWordList">Use Default Word List</button>

@code {
    //Limit to 75 words
    //Find better parsing than a pipe.  Json?-
    string _DefaultWordList = "Encourage... NAY! DEMAND|'Link in the chat'|Loud angry typing|Voice echo/feedback|'Hi! Who just joined?'|Awkward silence|'Sorry, I was muted'|'Can you see my screen?'|Child or animal noise|'Let's take this offline'|No one is prepared|Mid-sentence drop off|'Next slide please'|'I have a hard stop...'|'Can you email that?'|'Can you hear me?'|Referencing 'tracking'|Cough/Sneeze|Weather talk|Pet talk|'No, sorry. you go first'|'Didn't catch that. Can you repeat.'|Creepy Darth Vader breathing|'Sorry I'm late|'Hello?  Hello?'|Forgot to stop screen share|'I think there's a lag.'|'MERNIN'|Nominated as note taker|Doorbell ring|Hot Mic background conversation|Hot Mic Eating/drinking noises|'I'd like to piggyback on that..'|Any mention of Coffee|Someone being told they are on mute|Someone being told they didn't screenshare|Sharing the wrong screen|'I hate this stupid software'|Dialing in from their phone|Microphone out of place|Doing introductions|'Is everybody here?'|'Can you put that in the Chat'|'I'm having internet issues'|'Can we schedule another meeting?'";

    private string WordList { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        WordList = await localStorage.GetItemAsync<string>("bingo-wordlist");
        if (String.IsNullOrEmpty(WordList))
        {
            WordList = _DefaultWordList;
        }
    }

    private void SetDefaultWordList()
    {
        localStorage.SetItemAsync("bingo-wordlist", _DefaultWordList);
    }


    private void SetStoredWordList()
    {
        localStorage.SetItemAsync("bingo-wordlist", WordList);
    }
}